body {
  background-color: #453A55;
  padding: 0px;
  margin: 0;
}
h1 {
  color: #D3C5E6;
  padding: 20px;
  font-size: 72px;
  text-align: center;
}
h2, p, ul, li {
  color: #453A55;
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #00C9A6;
  padding: 0;
}
ul.header li a {
  color: #453A55;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.active {
  background-color: #FFFADE;
}
.content {
  background-color: #D3C5E6;
  padding: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
